@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

header {
  background-color: #abd373;
  color: white;
}
header .header-content {
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
header .header-content .header__content__right {
  height: 70px;
}
header .header-content .header__content__right .dropdown-wrap {
  height: 50px;
}
header .header-content .header__content__right .dropdown-wrap .dropdown {
  padding-left: 45px;
  padding-top: 20px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .dropdownBtn {
  outline: none;
  border: none;
  background: inherit;
  color: #fff;
  font-size: 13px;
  margin-left: 20px;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .USD__UL {
  margin-left: 30px;
  padding: 15px;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .USD__UL li {
  position: relative;
  transition: all 0.5s ease;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .USD__UL li p {
  position: relative;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .USD__UL li p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #abd373;
  transform: scaleX(0);
  transition: transform 0.9s ease;
  transform-origin: right;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .USD__UL li p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
header .header-content .header__content__right .dropdown-wrap .dropdown .english__ul li {
  position: relative;
  transition: all 0.5s ease;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .english__ul li p {
  position: relative;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .english__ul li p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #abd373;
  transform: scaleX(0);
  transition: transform 0.9s ease;
  transform-origin: right;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .english__ul li p:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
header .header-content .header__content__right .dropdown-wrap .dropdown ul {
  background-color: #fff;
  padding: 15px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
}
header .header-content .header__content__right .dropdown-wrap .dropdown ul.show {
  transition: all 0.5s ease-in;
  top: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
header .header-content .header__content__right .dropdown-wrap .dropdown ul a {
  color: #000;
  font-size: 13px;
  padding: 10px 20px;
  font-size: 13px;
}
header .header-content .header__content__right .dropdown-wrap .dropdown .english__ul a {
  color: #000;
  font-size: 13px;
}

nav .navbarPronia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
}
nav .navbarPronia .phone .spanPhone {
  font-size: 18px;
  color: #525252;
  padding-left: 10px;
  transition: all 0.5s ease-in;
}
nav .navbarPronia .phone .spanPhone:hover {
  color: #abd373;
  transition: all 0.5s ease-in;
}
nav .navbarPronia .phone .span {
  padding: 15px;
  background-color: #abd373;
  border-radius: 30%;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
nav .navbarPronia .icons .count {
  background-color: #abd373;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  margin-bottom: 30px;
}
nav .navbarPronia .icons i {
  padding-left: 15px;
  color: #525252;
  transition: all 0.5s ease-in;
}
nav .navbarPronia .icons i:hover {
  color: #abd373;
  transition: all 0.5s ease-in;
}

.navbar-links {
  border-top: 1px solid #e8e8e8;
  transition: all 0.5s ease;
  z-index: 999;
}
.navbar-links ul {
  transition: all 0.5s ease;
}
.navbar-links ul li {
  position: relative;
  line-height: 40px;
  transition: all 0.5s ease;
}
.navbar-links ul li a {
  position: relative;
}
.navbar-links ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #abd373;
  transform: scaleX(0);
  transition: transform 0.9s ease;
  transform-origin: right;
}
.navbar-links ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navbar-links .subMenu {
  background-color: #fff;
  flex-direction: column;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  min-height: 100px;
  position: absolute;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 999;
  border-radius: 5px;
}
.navbar-links .subMenu li {
  padding: 5px 10px;
  line-height: 30px;
}
.navbar-links li:hover .subMenu {
  display: block;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.navbar-links li:hover .subMenu a {
  transform: translateX(0);
  transition: all 0.5s ease;
}
.navbar-links li:hover .subMenu a:hover {
  transition: all 0.5s ease;
  margin-left: 5px;
  transform: translateX(5px);
}
.navbar-links .divUl {
  display: flex;
  align-items: center;
  width: 100%;
  width: 500px;
  height: 320px;
  position: absolute;
  line-height: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #fff;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  border-radius: 5px;
}
.navbar-links .divUl ul {
  width: 150px;
}
.navbar-links .divUl ul li {
  margin-top: 10px;
  padding-left: 10px;
}
.navbar-links .liflex:hover .divUl {
  display: flex;
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.navbar-links .liflex:hover .divUl a {
  transform: translateX(0);
  transition: all 0.5s ease;
}
.navbar-links .liflex:hover .divUl a:hover {
  transition: all 0.5s ease;
  margin-left: 5px;
  transform: translateX(5px);
}

#offCanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease;
  z-index: 111111111;
  transform: translateX(100%);
  overflow-y: auto;
}
#offCanvas .offcanvas-content {
  position: relative;
  padding: 55px 20px;
}
#offCanvas.open {
  transform: translatex(0);
}
#offCanvas #offcanvasContentMain .miniCard {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#offCanvas #offcanvasContentMain .miniCard .card-img {
  width: 100px;
}
#offCanvas #offcanvasContentMain .miniCard .cardInfo h5 {
  font-size: 14px;
}
#offCanvas #offcanvasContentMain .miniCard .cardCount button {
  background-color: #505050;
  border: 1px solid #505050;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
#offCanvas #offcanvasContentMain .miniCard .delete button {
  border: none;
  background: none;
  margin-bottom: 38px;
}

#ourProducts .section-title-wrap {
  align-items: center;
  text-align: center;
}
#ourProducts .row .col-lg-12 .tab-ul {
  padding-top: 60px;
  padding-bottom: 55px;
  justify-content: center;
}
#ourProducts .row .col-lg-12 .tab-ul li {
  padding-left: 25px;
}
#ourProducts .row .col-lg-12 .tab-ul li a {
  border: 1px dashed #dee2e6;
  border-radius: 4px;
  font-size: 18px;
  color: #393939;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
}
#ourProducts #cards .row .card {
  display: block;
  border: none;
}
#ourProducts #cards .row .card .product-item .product-img .secondary-img {
  display: none;
}
#ourProducts #cards .row .card .product-item .product-img:hover .primary-img {
  display: none;
}
#ourProducts #cards .row .card .product-item .product-img:hover .secondary-img {
  display: block;
}
#ourProducts #cards .row .card .product-item .product-add-action {
  opacity: 0;
  visibility: hidden;
}
#ourProducts #cards .row .card .product-item .product-add-action a {
  padding: 10px;
  background-color: whitesmoke;
}
#ourProducts #cards .row .card .product-item .product-img:hover .product-add-action {
  opacity: 1;
  visibility: visible;
  transform: translateX(5px);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
#ourProducts #cards .row .card .product-item .product-img:hover .product-add-action a:hover {
  background-color: #abd373;
}
#ourProducts #cards .row .card .product-item .product-img:hover .product-add-action a:hover i {
  color: white;
}
#ourProducts #cards .row .card .product-item .product-content a {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #303030;
  font-size: 18px;
  display: block;
  cursor: pointer;
}
#ourProducts #cards .row .card .product-item .product-content a:hover {
  color: #abd373;
}
#ourProducts #cards .row .card .product-item .product-content .price-box {
  color: #abd373;
  cursor: pointer;
}
#ourProducts #cards .row .card .product-item .product-content .rating-box ul li i {
  color: #ffe24d;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */